<section class="header">
  <section class="header-container">
      <div class="header-component-left">
        <a href="/"><img src='https://www.trzcacak.rs/myfile/full/168-1685213_marijuana-order-online-marijuana-buds.png' alt="Logo"/></a>
      </div>
      <div class="header-component-right">
        <a href="/user">
          <button>Profile</button>
        </a>
        <p>Level: {{article.level}}</p>
      </div>
</section>
</section>
<div class="container">
    <div class="content">
        <h1 class="article-title">{{article.title}}</h1>
       <div class="article-container">

        {{#each article.description}}
            <h3 class="article-header">{{this.header}}</h3>
            <h5 class="article-sub">{{this.sub}}</h5>
            <h6 class="article-content">{{this.content}}</h6>
        {{/each}}
       </div>

        <div class="buttons">
            {{#if previouseArticle}}
            <a href="/article/{{article.level}}/{{previouseArticle}}"><button class="start">Previouse article</button></a>
        {{/if}}
        {{#if nextArticle}}
            <a href="/article/{{article.level}}/{{nextArticle}}"><button class="start">Next article</button></a>
        {{/if}}
        {{#if finalArticle}}
            <a href="/plant/update/{{nextLevel}}"><button class="start">Finish Curiculem</button></a>
        {{/if}}
        </div>
    </div>
</div>
