<section class="header">
  <section class="header-container">
      <div class="header-component-left">
        <a href="/"><img src='https://www.trzcacak.rs/myfile/full/168-1685213_marijuana-order-online-marijuana-buds.png' alt="Logo"/></a>
      </div>
      <div class="header-component-right">
        <a href="/user">
          <button>Profile</button>
        </a>
        <p>Level: {{plant.level}}</p>
      </div>
</section>
</section>
<div class="container">
  {{!-- <canvas id="my-canvas" ></canvas> --}}
  <div class="content">
<h1>{{plant.title}}</h1>
<img src={{plant.image}} alt="seed"/>
<br />
{{#if message}}
<p>{{message}}</p>
{{/if}}
<a href="/article/{{plant.level}}/{{plant.next}}"><button class="start">Start Curriculem {{plant.level}}</button></a>
</div>
</div>
