<section class="header">
  <section class="header-container">
      <div class="header-component-left">
        <a href="/"><img src='https://www.trzcacak.rs/myfile/full/168-1685213_marijuana-order-online-marijuana-buds.png' alt="Logo"/></a>
      </div>
      <div class="header-component-right">
        <a href="/user">
          <button>Profile</button>
        </a>
        <p>Level: {{plant.level}}</p>
      </div>
</section>
</section>
<div class="container">
  {{#if passed}}
      <canvas id="myCanvas" width="1039" height="662" style="position: fixed; pointer-events: none; z-index: 100; margin: auto;"></canvas>
  {{/if}}
  <div class="content">
{{#if passed}}
      <h2 class="celeb-text">Congratulations!! You are now level: {{plant.level}}</h2>
  {{/if}}
<h1>{{plant.title}}</h1>
<img src={{plant.image}} alt="seed"/>
<br />
{{#if message}}
<p>{{message}}</p>
{{/if}}
<a href="/article/{{plant.level}}/{{plant.next}}"><button class="start">Start Curriculem {{plant.level}}</button></a>
</div>
</div>
<script>
var myConfetti = confetti.create(myCanvas, { resize: true });
myConfetti({
  particleCount: 500,
  spread: 500
  // any other options from the global
  // confetti function
});
</script>
