<section class="header">
  <section class="header-container">
      <div class="header-component-left">
        <a href="/"><img src='https://www.trzcacak.rs/myfile/full/168-1685213_marijuana-order-online-marijuana-buds.png' alt="Logo"/></a>
      </div>
      <div class="header-component-right">
        <a href="/user">
          <button>Profile</button>
        </a>
        <p>Level: {{user.level}}</p>
      </div>
</section>
</section>
<div class="container">
  {{#if articles}}
    <div class="article-list-container">
      <ul>
    {{#each articles}}
      <li><a href="/article/{{this.level}}/{{this.article}}">{{this.title}}</a></li>
    {{/each}}
    </ul>
    </div>
  {{/if}}
  <div class="content">
    <h1>Hello {{user.username}}</h1>
<h3>Your current level is: {{user.level}}</h3>
{{#if message}}
  <h3>Oeps something whent wrong here</h3>
{{/if}}
<div class="buttons">
{{#if notBeginner}}
<a href="/user/reset"><button class="start">Reset Course</button></a>
{{/if}}
<a href="/plant/{{user.level}}"><button class="start">Start Course</button></a>
</div>
  </div>
</div>